html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

article {
  height: 200px;
  width: 200px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  margin: 1rem;
  display: inline-block;
}

#forms {
  background-color: red;
  height: 300px;
  padding: 2rem;
}
form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}

#article-section {
  background-color: yellow;
  display: flex;
  flex-direction: row;
}

nav {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
